.app-wrapper{
  margin: 0;
  padding: 0;
  width: 100%;
}
.wrapper{
  display: flex;
  width: 100%;
}
.nav-bar{
  width: 15vw;
  padding: 2rem;
}
.content-wrapper{
  display: flex;
  width: 70vw;
}
.footer{
  text-align: center;
  position:fixed;
  bottom:0;
  width: 100%;
}
